* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    max-height: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    text-decoration: inherit;
    cursor: pointer;
}

button {
    cursor: pointer;
    border: none;
}
.container{
    max-width: 1330px;
    margin: 0 auto;
    padding: 15px;
   width: 100%;
}

.left {
    animation: leftR .5s ease-in-out .2s forwards;
    transform: translateX(-80px);
    opacity: 0;
}

@keyframes leftR {
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

